@page "/Clients/Delete/{Id:int}"

<h1 class="mb-3">Apagar Cliente</h1>
<p>Você tem certeza que quer deletar o cliente com o Id @Id?</p>
<button class="btn btn-danger" @onclick="DeleteClient">Apagar</button>
<a class="btn btn-secondary" href="/clients">Cancelar</a>

@inject HttpClient http
@inject NavigationManager navManager

@code {
    [Parameter]
    public int Id { get; set; }

    protected async Task DeleteClient()
    {
        var response = await http.DeleteAsync("https://localhost:7013/API/clients/" + Id);

        // redireciona para a lista de clientes
        navManager.NavigateTo("/Clients");
    }
}
